.about-our-shop
	display flex
	flex-direction column
	margin-left auto
	margin-top 55px
	margin-bottom 90px
	width 61%
	h3
		font 500 25px / 1.4 'Roboto'
	p
		margin-top 24px
		font 400 15px / 1.4 'Roboto'
@media (max-width: 800px)
	.about-our-shop
		width 100%
		margin-top 20px
		margin-bottom 30px