COLOR_BRAND_WHITE = #ffffff

COLOR_BRAND_DARK_BLACK = #131313
COLOR_BRAND_BLACK = #000

COLOR_BRAND_GREY = #999999
COLOR_BRAND_GREY2 = #666666

COLOR_BRAND_BLUE = #009CED
COLOR_BRAND_LIGHT_BLUE = #00DFEB

COLOR_BRAND_PINK = #FF96D3