COLOR_BRAND_WHITE = #ffffff

COLOR_BRAND_DARK_BLACK = #131313
COLOR_BRAND_BLACK = #000

COLOR_BRAND_GREY = #999999
COLOR_BRAND_GREY2 = #666666
COLOR_BRAND_GREY3 = #CCCCCC
COLOR_BRAND_GREY4 = #F1F1F1
COLOR_BRAND_GREY5 = #808080
COLOR_BRAND_GREY6 = #B3B3B3

COLOR_BRAND_BLUE = #009CED
COLOR_BRAND_LIGHT_BLUE = #00DFEB

COLOR_BRAND_PINK = #FF96D3
COLOR_BRAND_PINK2 = #FFCDCD
COLOR_BRAND_PINK3 = #784870

COLOR_BRAND_GREEN = #39C930

COLOR_BRAND_ORANGE = #FF9300