COLOR_BRAND_WHITE = #ffffff
COLOR_BRAND_WHITE2 = #F2F2F2
COLOR_BRAND_WHITE3 = #F4F4F4
COLOR_BRAND_WHITE4 = #F6F8F8

COLOR_BRAND_DARK_BLACK = #131313
COLOR_BRAND_BLACK = #000
COLOR_BRAND_BLACK2 = #303030

COLOR_BRAND_GREY = #999999
COLOR_BRAND_GREY2 = #666666
COLOR_BRAND_GREY3 = #CCCCCC
COLOR_BRAND_GREY4 = #F1F1F1
COLOR_BRAND_GREY5 = #808080
COLOR_BRAND_GREY6 = #B3B3B3
COLOR_BRAND_GREY7 = #4C4C4C
COLOR_BRAND_GREY8 = #E5E5E5

COLOR_BRAND_BLUE = #009CED
COLOR_BRAND_BLUE2 = #3FA9F5
COLOR_BRAND_LIGHT_BLUE = #00DFEB
COLOR_BRAND_LIGHT_BLUE2 = #B7CCD4
COLOR_BRAND_LIGHT_BLUE3 = #00AAF7

COLOR_BRAND_PINK = #FF96D3
COLOR_BRAND_PINK2 = #FFCDCD
COLOR_BRAND_PINK3 = #784870
COLOR_BRAND_PINK4 = #FF7BAC
COLOR_BRAND_PINK5 = #FF7CAE

COLOR_BRAND_GREEN = #39C930
COLOR_BRAND_GREEN2 = #7AC943

COLOR_BRAND_ORANGE = #FF9300