@import 'colors.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body,html
	font-size 62.5%
body
	background COLOR_BRAND_WHITE
img, video
	display block
	max-width 100%
a
	text-decoration none
	color inherit
h2
	font 400 28px / 1.2 'Roboto'
ul
	list-style-type none
li
	list-style-position inside
button
	border none
	outline none
	cursor pointer
input
	border none
	outline none
main
	display flex
	margin-top 15px
.arrows-wrapper
	position absolute
	top 10px
	left 10px
.product-arrow
	display inline-block
	position relative
	padding 5px 8px
	height 24px
	margin-bottom 5px
	color COLOR_BRAND_WHITE
	letter-spacing .3px
	font 400 12px / 1.4 ' Roboto'
	&:after
		content ''
		position absolute
		top 0
		left 100%
		width 8px
		height 24px
	&.green-arrow
		background COLOR_BRAND_GREEN
		&:after
			background url(../images/green-arrow.png) 0 0 /contain no-repeat
	&.blue-arrow
		background COLOR_BRAND_LIGHT_BLUE
		&:after
			background url(../images/blue-arrow.png) 0 0 /contain no-repeat
	&.orange-arrow
		background COLOR_BRAND_ORANGE
		&:after
			background url(../images/orange-arrow.png) 0 0 /contain no-repeat
h1
	font 500 28px / 1.4 'Roboto'
.product-in-card
	display inline-table
	padding 6px 20px
	font 400 12px / 1.4 'Roboto'
	text-align center
	border 1px solid COLOR_BRAND_BLUE
	border-radius 30px
	background COLOR_BRAND_WHITE
	transition all .3s
	.underlined
		text-decoration underline
		color COLOR_BRAND_BLUE
.watch-all-button
	font 400 13px / 1.4 'Roboto'
	border 1px solid COLOR_BRAND_BLUE
	padding 6px 10px
	transition all .25s
	&:hover
		color COLOR_BRAND_WHITE
		background COLOR_BRAND_BLUE
.counter
	margin 5px 0
	user-select none
	display inline-block
	border 1px solid COLOR_BRAND_GREY6
	color COLOR_BRAND_GREY
	font 400 12px / 1.4 'Roboto'
	span
		display inline-block
		width 24px
		height @width
		line-height 24px
		text-align center
		font-size 15px
	.value
		display inline-block
		text-align center
		padding 0 5px
		line-height 25px
		border-left 1px solid COLOR_BRAND_GREY6
		border-right 1px solid COLOR_BRAND_GREY6
.into-card-button
	margin 5px 0
	display block
	padding 6px 6px
	text-transform uppercase
	color COLOR_BRAND_WHITE
	background COLOR_BRAND_PINK
//.add-to-favorites
//	display flex
//	justify-content center
//	align-items center
//	border-radius 50%
//	width 36px
//	height @width
//	background COLOR_BRAND_GREY3
//	transition all .3s
//	&.added
//		opacity 1 !important
//	&:hover
//		background COLOR_BRAND_GREY2
.navigation-links
	display flex
	margin-top 10px
	color COLOR_BRAND_GREY5
	font 400 12px / 1.4 'Roboto'
	span
		display inline-block
		margin 0 5px
.container
	overflow hidden
	max-width 1180px
	margin auto
	padding 0 20px