@import 'colors.styl'
*
	margin 0
	padding 0
	box-sizing border-box
body,html
	font-size 62.5%
body
	background COLOR_BRAND_WHITE
img, video
	display block
	max-width 100%
a
	text-decoration none
	color inherit

ul
	list-style-type none
li
	list-style-position inside
button
	border none
	outline none
	cursor pointer
input
	border none
	outline none

.container
	max-width 1180px
	margin auto
	padding 0 20px