.main-footer
	display flex
	justify-content space-between
	flex-wrap wrap
	align-items center
	padding 5px 0 15px
	color COLOR_BRAND_GREY5
	.menu
		padding-top 10px
	ul, .socials
		display flex
		align-items center
		flex-wrap wrap
	li
		margin-right 30px
	.left
		padding-top 10px
		flex-shrink 0
		width 275px
	li, p
		font 400 14px / 1.4 'Roboto'
	.title
		padding-right 15px
	.socials
		padding 10px
		flex-shrink 0
	.icons
		a
			display inline-block
			margin-right 10px
@media (max-width: 800px)
	.main-footer, .main-footer ul
		justify-content center