.main-header
	.top-actions
		display flex
		justify-content space-between
		align-items center
		flex-wrap wrap
		padding 0 40px
		background COLOR_BRAND_WHITE4
		ul
			display flex
			flex-wrap wrap
		li
			a
				margin-right 30px
				color COLOR_BRAND_DARK_BLACK
				font 300 14px / 1.4 'Roboto'
		.consult, .personal-area
			padding 12px 0
		.consult
			display flex
			flex-wrap wrap
			font 400 14px / 1.4 Roboto
			p:nth-of-type(1)
				margin-right 30px
			span
				color COLOR_BRAND_BLUE
				padding-left 5px
			a
				color COLOR_BRAND_BLACK
		.personal-area
			display flex
			font 300 14px / 1.4 'Roboto'
			color COLOR_BRAND_DARK_BLACK
			a
				display flex
				align-items center
				&:nth-of-type(2)
					margin-left 42px
					color COLOR_BRAND_BLUE
			i
				display inline-block
				padding-right 16px
	.center-info
		padding-top 20px
		.left
			display flex
		.logo
			display inline-block
		.text
			display inline-block
			width 200px
			margin-left 30px
			color COLOR_BRAND_GREY
			font 300 14px / 1.4 'Roboto'
	form.desktop-search ,form.mobile-search
		display inline-block
		padding 5px
		border 1px solid COLOR_BRAND_LIGHT_BLUE
		input
			width 220px
			padding 10px
			color COLOR_BRAND_GREY2
			font 400 14px / 1.4 'Roboto'
		button
			padding 8px 20px
			text-transform uppercase
			color COLOR_BRAND_WHITE
			font 400 15px / 1.4 'Roboto'
			background COLOR_BRAND_PINK
	.center-info
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		.left, form.desktop-search, .cart
			margin 5px
	.cart
		.cart-icon
			float left
			display inline-block
			margin-right 7px
			width 40px
			height 54px
		.top
			display inline-block
			margin-right 5px
			font 400 15px / 1.4 'Roboto'
		a
			padding 2px 4px
			font 300 12px / 1.4 'Roboto'
			color COLOR_BRAND_WHITE
			background COLOR_BRAND_BLUE
			transition all .25s
			&:hover
				background COLOR_BRAND_PINK4
		.text-items-cart, .bottom
			font 300 12px / 1.4 'Roboto'
	.socials
		display table
		flex-shrink 0
		.icons, .icons a
			display inline-block
		.icons
			display table-cell
			vertical-align middle
			a
				margin-right 8px
		.title
			display table-cell
			vertical-align middle
			padding-right 12px
			color COLOR_BRAND_GREY
			font 300 14px / 1.4 'Roboto'
	.center-menu li
		font 400 15px / 1.4 'Roboto'
		color COLOR_BRAND_BLACK2
		text-transform uppercase
	.bottom-navigation
		position relative
		margin-top 15px
		padding 7px 0
		.mobile-nav-wrapper
			display none
			.menu
				position absolute
				top 100%
				left 0
			p
				display flex
				align-items center
				text-transform uppercase
				font 700 16px / 1.4 'Roboto'
				color COLOR_BRAND_BLUE
			img
				cursor pointer
				display inline-block
				margin-right 10px
				width 25px
				height 23px
		.desktop-nav-wrapper
			display flex
			justify-content space-between
			align-items center
			ul
				display flex
				align-items center
				flex-wrap wrap
			li
				&:not(:last-of-type)
					margin-right 20px
	.catalog
		width 210px
		flex-shrink 0
		p
			display flex
			align-items center
			color COLOR_BRAND_BLUE
			text-transform uppercase
			font 400 15px / 1.4 'Roboto'
		img
			display inline-block
			margin-right 10px
	.mobile-nav-wrapper
		.dropdown-container
			margin-top 20px
		form.mobile-search
			display flex
			width 100%
			input
				width 100%
		.dropdown
			display none
			margin-top 11px
		.menu
			display none
			width 100%
			z-index 999
			li
				position relative
				padding 15px
				font 400 14px / 1.4 'Roboto'
				color COLOR_BRAND_GREY2
				border-bottom 1px solid COLOR_BRAND_GREY4
				background COLOR_BRAND_WHITE
				&.with-dropdown
					&:after
						content ''
						position absolute
						top 20px
						width 5px
						right 10px
						height @width
						border-top 1px solid COLOR_BRAND_BLACK
						border-right 1px solid COLOR_BRAND_BLACK
						transform rotate(135deg)
				&:hover
					background COLOR_BRAND_GREY4
@media (max-width: 1100px)
	.main-header
		.top-actions
			justify-content space-around
		.center-info
			.text
				display none
		.cart
			margin-left auto !important
@media (max-width: 900px)
	.main-header
		form.desktop-search input
			width 150px
@media (max-width: 800px)
	.main-header
		.top-actions
			padding 0 20px
		form.desktop-search
			display none
		.bottom-navigation
			.desktop-nav-wrapper
				display none
			.mobile-nav-wrapper
				display flex
@media (max-width: 600px)
	.main-header
		.top-actions
			padding 0
		form.desktop-search
			margin 10px auto !important
			input
				width 150px
		.center-info
			.left
				margin auto
				flex-direction column