.main-header
	.top-actions
		display flex
		justify-content space-between
		flex-wrap wrap
		ul
			display flex
			flex-wrap wrap
		li
			flex-shrink 0
			a
				margin-right 30px
				color COLOR_BRAND_DARK_BLACK
				font 300 14px / 1.4 'Roboto'
		.nav, .consult, .personal-area
			padding 10px 0
		.consult
			color COLOR_BRAND_BLUE
			font 400 14px / 1.4 Roboto
			span
				padding-left 5px
				color COLOR_BRAND_BLACK
		.personal-area
			margin-left auto
			font 300 14px / 1.4 'Roboto'
			color COLOR_BRAND_DARK_BLACK
			a
				display flex
				align-items center
			i
				display inline-block
				padding-right 10px
	.center-info
		padding-top 20px
		.left
			display flex
		.logo
			display inline-block
		.text
			display inline-block
			width 200px
			padding-top 14px
			margin-left 30px
			color COLOR_BRAND_GREY
			font 300 14px / 1.4 'Roboto'
	form
		display inline-block
		padding 5px
		border 1px solid COLOR_BRAND_LIGHT_BLUE
		input
			width 220px
			padding 10px
			color COLOR_BRAND_GREY2
			font 400 14px / 1.4 'Roboto'
		button
			padding 8px 20px
			text-transform uppercase
			color COLOR_BRAND_WHITE
			font 400 15px / 1.4 'Roboto'
			background COLOR_BRAND_PINK
	.center-info
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		.left, form, .cart
			margin 5px
	.cart
		.cart-icon
			float left
			display inline-block
			margin-right 7px
			width 40px
			height 54px
		.top
			display inline-block
			margin-right 5px
			font 400 15px / 1.4 'Roboto'
			text-transform uppercase
		a
			padding 2px 4px
			font 300 12px / 1.4 'Roboto'
			color COLOR_BRAND_WHITE
			background COLOR_BRAND_BLUE
		.text-items-cart, .bottom
			font 300 12px / 1.4 'Roboto'
	.socials
		display table
		flex-shrink 0
		.icons, .icons a
			display inline-block
		.icons
			display table-cell
			vertical-align middle
			a
				margin-right 5px
		.title
			display table-cell
			vertical-align middle
			padding-right 10px
			color COLOR_BRAND_GREY
			font 300 14px / 1.4 'Roboto'
	.center-menu li
		font 300 16px / 1.4 'Roboto'
	.bottom-navigation
		display flex
		justify-content space-between
		align-items center
		margin-top 15px
		padding 7px 0
		border-top 1px solid COLOR_BRAND_GREY3
		border-bottom 1px solid COLOR_BRAND_GREY3
		ul
			display flex
			align-items center
			flex-wrap wrap
		li
			&:not(:last-of-type)
				margin-right 20px
	.catalog
		width 200px
		flex-shrink 0
		p
			display flex
			align-items center
			color COLOR_BRAND_BLUE
			text-transform uppercase
			font 400 15px / 1.4 'Roboto'
		img
			display inline-block
			margin-right 5px
@media (max-width: 1100px)
	.main-header
		.cart
			margin-left auto !important
@media (max-width: 600px)
	.main-header
		form
			margin 10px auto !important
			input
				width 150px
		.top-actions
			.consult
				margin auto
		.center-info
			.left
				margin auto
				flex-direction column