.main-content-wrapper
	padding-left 220px
	.advantages
		display flex
		justify-content space-between
		flex-wrap wrap
		.item
			display flex
			flex-basis 230px
			padding 10px
		.icon
			margin-right 15px
			flex-shrink 0
		.text
			font 400 14px / 1.4 'Roboto'