.main-page-slider
	overflow hidden
.main-content-wrapper
	padding-left 20px
	padding-right 10px
	margin-right -10px
	.mobile-banner
		display none
		margin-top 30px
	.mobile-news
		display none
		margin-top 30px
		padding 30px 20px 35px 30px
		background COLOR_BRAND_WHITE4
		.title, footer
			text-align center
		.title
			text-transform uppercase
			color COLOR_BRAND_LIGHT_BLUE
			padding-bottom 10px
			font 400 22px / 1.4 'Roboto'
		footer a
			font-size 20px
		.content
			li
				position relative
				padding 11px 0
				font 300 20px / 1.4 'Roboto'
				transition all .25s
				&:hover
					color COLOR_BRAND_PINK5
				&:last-of-type
					margin-bottom 20px
					&:before
						content none
				&:before
					content ''
					position absolute
					bottom 0
					left 0
					width 45px
					border-bottom 1px solid COLOR_BRAND_PINK5
	.mobile-768-products-carousel-1, .mobile-768-products-carousel-2, .mobile-768-products-carousel-3
		display flex !important
	h2
		color COLOR_BRAND_BLUE
	.header-title
		display flex
		align-items center
		flex-wrap wrap
		justify-content space-between
	.advantages
		display flex
		justify-content space-between
		margin-top 30px
		.item
			display flex
			flex-basis 230px
			padding 10px
		.icon
			padding-bottom 7px
			margin-right 15px
			flex-shrink 0
		.text
			font 400 14px / 1.4 'Roboto'
	.owl-theme .owl-nav [class*=owl-]
		background transparent
		&:hover
			background transparent !important
	.owl-dots
		padding-top 20px
	.owl-nav
		position absolute
		width 100%
		height 100%
		top 0
		left 0
	.owl-common-styles
		.control
			position absolute
			top 50%
			transform translateY(-100%)
			left 20px
			width 44px
			height 43px
			background url(../images/control.png) 0 0/ contain no-repeat
			transition background .25s
			&:hover
				background url(../images/control-active.png) 0 0/ contain no-repeat
			&.right
				left auto
				right 20px
				transform translateY(-100%) rotate(180deg)
	.owl-carousel-sales
		width 452px
		height 656px
		.owl-stage-outer
			height 100%
	.owl-carousel-news, .owl-carousel-new-products
		max-width 452px
		max-height 350px
		background COLOR_BRAND_GREY4
	.owl-carousel-new-products
		width 49.6%
		margin-top 10px
	.owl-dot span
		width 15px !important
		height @width
		background transparent !important
		border 1px solid COLOR_BRAND_PINK
	.owl-dot.active span
		background COLOR_BRAND_PINK !important
	.card-product
		padding 28px 33px 16px 33px
		margin 0 -5px
	.static-banners
		display flex
		justify-content space-between
		flex-wrap wrap
		.static
			margin-top 20px
			width 298px
			height @width
			background COLOR_BRAND_GREY4
@media (max-width: 1200px)
	.main-content-wrapper
		.products-content .right-products
			flex-direction row
@media (max-width: 1024px)
	.main-content-wrapper
		.advantages .item
			flex-wrap wrap
		.static-banners
			.static
				&:nth-of-type(1),
				&:nth-of-type(2)
					width 50%
				&:nth-of-type(1)
					background #FF931E
				&:nth-of-type(2)
					background #7AC943
				&:nth-of-type(3)
					margin-top 0
					width 100%
					background #FF7BAC
@media (max-width: 955px)
	.main-content-wrapper
		.owl-carousel-sales
			order -1
			align-self center
		.products-content
			.cards-wrapper.with-order
				justify-content center
			.left-products, .right-products
				flex-wrap wrap
				width 100%
				justify-content space-around
				flex-direction row
			.left-products
				margin-top 55px
@media (max-width: 800px)
	.main-content-wrapper
		padding 0
		margin 0
		.owl-carousel-new-products, .owl-carousel-news, .owl-carousel-sales
			display none !important
		.products-content
			.left-products
				margin-top 0
@media (max-width: 768px)
	.main-content-wrapper
		.mobile-news
			display block
		.mobile-768-products-carousel-1, .mobile-768-products-carousel-2, .mobile-768-products-carousel-3
			justify-content center
		.products-content
			&.padding-768
				padding 0 15px !important
		.static-banners
			margin 0 -15px
		.advantages
			display none
@media (max-width: 500px)
	.mobile-banner
		display block
		img
			width 100%
	.main-content-wrapper
		.advantages
			flex-wrap wrap
			.item
				flex-basis 50%