.products-list
	.products-list-content
		margin-top 10px
	.brands-list
		margin-top 20px
		h4
			margin-bottom 15px
			font 400 22px / 1.4 'Roboto'
		ul
			columns 4
			width 83%
		li
			margin-bottom 9px
			color COLOR_BRAND_BLUE2
			font 400 18px / 1.4 'Roboto'
			transition all .25s
			&:hover
				color COLOR_BRAND_PINK4
			span
				color COLOR_BRAND_GREY5
	.content-main-wrapper
		margin-top 30px
		.card-title
			font 400 22px / 1 'Roboto'
	.pagination
		text-align center
		margin-top 40px
		color COLOR_BRAND_GREY5
		font 400 12px / 1.4 'Roboto'
	.page, .rest-page
		display inline-block
		width 32px
		height @width
		text-align center
		line-height @width
		background COLOR_BRAND_GREY8
		cursor pointer
		&.active
			background COLOR_BRAND_LIGHT_BLUE
	.left, .right
		display inline-block
		width 12px
		height @width
		line-height 32px
		border-top 2px solid COLOR_BRAND_GREY6
		border-right 2px solid COLOR_BRAND_GREY6
	.right
		margin-left 10px
		transform rotate(45deg)
	.left
		margin-right 10px
		transform rotate(-135deg)
	.filter
		margin-top 25px
		padding 20px 25px
		background COLOR_BRAND_WHITE3
		.footer
			margin-top 25px
			text-align center
			button
				padding 10px 20px
				color COLOR_BRAND_WHITE
				text-align center
				font 400 15px / 1.4 'Roboto'
				text-transform uppercase
				background COLOR_BRAND_BLUE
			p
				padding 5px 0
				cursor pointer
				display inline-block
				margin-left 15px
				font 400 15px / 1.4 'Roboto'
				color COLOR_BRAND_GREY5
				text-decoration underline
	.color-block
		padding 20px 25px
		margin 0 -25px
		background COLOR_BRAND_WHITE
	.rest-page
		background transparent
	.filter-name
		margin-right 7px
		color COLOR_BRAND_BLACK
		font 400 18px / 1 'Roboto'
	.effects .filter-name, .colors .filter-name
		margin-bottom 20px
	.nails-block
		display flex
		input[type='checkbox']
			display none
		.disabled
			pointer-events none
		.nail
			position relative
			cursor pointer
			display inline-block
			margin-right 3px
			padding 3px 5px
			transition all .3s
			&:hover .tooltip
				opacity 1
			.tooltip
				opacity 0
				position absolute
				top -10px
				left 50%
				width max-content
				padding 2px 4px
				font 300 12px / 1 'Roboto'
				border 1px solid COLOR_BRAND_GREY3
				background COLOR_BRAND_WHITE2
				z-index 20
				transition all .25s
			&.active, &:hover
				border 1px solid COLOR_BRAND_BLUE
				background COLOR_BRAND_WHITE
	.choose-brand-dropdown
		position relative
		cursor pointer
		background COLOR_BRAND_WHITE
		.checkmark
			position absolute
			top 0
			left 0
			height 18px
			width 18px
			margin 0
			border-radius 6px
			border 1px solid COLOR_BRAND_GREY3
		.container-checkbox
			position relative
			padding-left 25px
		.container-checkbox input
			position absolute
			opacity 0
			cursor pointer
		.container-checkbox input:checked ~ .checkmark
			background-color COLOR_BRAND_BLUE2

		.checkmark:after
			content ""
			position absolute
			display none

		.container-checkbox input:checked ~ .checkmark:after
			display block

		.container-checkbox .checkmark:after
			left 5px
			top 3px
			width 3px
			height 6px
			border solid white
			border-width 0 2px 2px 0
			transform rotate(45deg)
		&.active
			.dropdown-brand
				display flex
		.dropdown-brand
			display none
			flex-direction column
			flex-wrap wrap
			max-height 200px
			position absolute
			min-width 380px
			top 100%
			margin-top -1px
			border 1px solid COLOR_BRAND_GREY6
			padding 5px 20px 20px 20px
			font 400 14px / 1 'Roboto'
			background COLOR_BRAND_WHITE
			z-index 10
			li
				margin-top 15px
		&.active
			.name
				color COLOR_BRAND_BLUE2
				&:after
					transform translateY(-25%) rotate(-45deg)
					border-color COLOR_BRAND_BLUE2
		.name
			position relative
			padding 8px 45px 8px 25px
			background COLOR_BRAND_WHITE
			border 1px solid COLOR_BRAND_GREY6
			font 400 18px / 1 'Roboto'
			transition all .25s
			&:after
				content ''
				position absolute
				right 10px
				width 10px
				height @width
				top 50%
				transform translateY(-65%) rotate(135deg)
				border-top 2px solid COLOR_BRAND_GREY3
				border-right 2px solid COLOR_BRAND_GREY3

	.action-block
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		font 300 14px / 1.4 'Roboto'
		.form
			display flex
			align-items center
		.choose-brand-dropdown ,.form
			margin-bottom 25px
		span
			display inline-block
			font 400 18px / 1.4 'Roboto'
			margin 0 10px
		.price-down, .price-up
			padding 0 5px 0 10px
			width 120px
			font 300 24px / 1 'Roboto'
			border 1px solid COLOR_BRAND_GREY5
@media (max-width: 1300px)
	.products-list .choose-brand-dropdown .dropdown-brand
		right 0
@media (max-width: 1130px)
	.products-list .slider
		margin-top 40px
@media (max-width: 1024px)
	.products-list .choose-brand-dropdown .dropdown-brand
		left 0
@media (max-width: 800px)
	.products-list
		.filter
			padding 15px
		.filter-footer
			margin-top 15px
		.color-block
			margin 0 -15px
		.filter-name
			width 100%
			margin-bottom 10px
		.action-block .form
			flex-wrap wrap
		.brands-list ul
			width 100%

@media (max-width: 400px)
	.products-list
		.nails-block
			flex-wrap wrap
		.choose-brand-dropdown
			width 100%
		.choose-brand-dropdown.active .dropdown-brand
			min-width 100%
			max-height initial
		.filter
			padding 10px
		.filter-footer
			margin-top 10px
		.brands-list ul
			columns 2
		.action-block .price-down, .action-block .price-up
			width 30%