.products-list
	.cards-wrapper
		margin-top 30px
	.pagination
		text-align center
		margin-top 40px
		color COLOR_BRAND_GREY5
		font 400 12px / 1.4 'Roboto'
	.page, .rest-page
		display inline-block
		width 32px
		height @width
		text-align center
		line-height @width
		background COLOR_BRAND_GREY8
		cursor pointer
		&.active
			background COLOR_BRAND_LIGHT_BLUE
	.left, .right
		display inline-block
		width 12px
		height @width
		line-height 32px
		border-top 2px solid COLOR_BRAND_GREY6
		border-right 2px solid COLOR_BRAND_GREY6
	.right
		margin-left 10px
		transform rotate(45deg)
	.left
		margin-right 10px
		transform rotate(-135deg)
	.filter
		margin-top 25px
		padding 25px 35px
		background COLOR_BRAND_WHITE3
		.footer
			margin-top 20px
			button
				padding 10px 20px
				color COLOR_BRAND_WHITE
				text-align center
				font 400 15px / 1.4 'Roboto'
				text-transform uppercase
				background COLOR_BRAND_BLUE
			p
				padding 5px 0
				cursor pointer
				display inline-block
				margin-left 15px
				font 400 15px / 1.4 'Roboto'
				color COLOR_BRAND_GREY5
				text-decoration underline
	.color-block
		margin-top 25px
	.rest-page
		background transparent
	.filter-name
		margin-bottom 15px
		color COLOR_BRAND_BLACK
		font 400 18px / 1.4 'Roboto'
	.nails-block
		input[type='checkbox']
			display none
		.disabled
			pointer-events none
		.nail
			cursor pointer
			display inline-block
			margin-right 3px
			padding 3px 5px
			transition all .3s
			&.active, &:hover
				border 1px solid COLOR_BRAND_BLUE
				background COLOR_BRAND_WHITE
	.action-block
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		font 300 14px / 1.4 'Roboto'
		span
			display inline-block
			margin 0 10px
		.price-down, .price-up
			padding 7px 0 7px 15px
			width 120px
			border-radius 10px
			border 1px solid COLOR_BRAND_GREY5
	.slider
		width 510px
		#min, #max
			position relative
			top -23px
			left -5px
			font 300 14px / 1.4 'Roboto'
			color COLOR_BRAND_BLACK
		&.ui-widget-content
			height 3px
			border none
			background COLOR_BRAND_BLUE
			border-radius 0
		.ui-widget-header
			background COLOR_BRAND_LIGHT_BLUE2
		.ui-slider-handle
			margin 0
			width 14px
			height @width
			border-radius 50%
			outline none
			background COLOR_BRAND_BLUE
@media (max-width: 1130px)
	.products-list .slider
		margin-top 40px

@media (max-width: 400px)
	.products-list .action-block .price-down, .products-list .action-block .price-up
		width 40%