.products-content
	margin-top 30px
	.gradient-button
		display block
		width 100%
		padding 7px
		text-transform uppercase
		text-align center
		font 400 16px / 1.4 'Roboto'
		color COLOR_BRAND_WHITE
		background url(../images/gradient.jpg) 0 0 / cover no-repeat
	.left-products ,.right-products
		display flex
		flex-direction column
.cards-wrapper
	display flex
	justify-content space-between
	flex-wrap wrap
	padding 25px 0
	.card-product
		position relative
		display inline-block
		width 222px
		cursor pointer
		transition box-shadow .3s
		&:hover
			box-shadow 1px 1px 15px 1px rgba(COLOR_BRAND_GREY,0.3);
			.add-to-favorites, .product-in-card
				opacity 1
				z-index 999
	.card-image
		width 164px
		height 164px
		object-fit cover
		margin auto
	.name
		margin-top 24px
		color COLOR_BRAND_PINK3
		font 400 14px / 1.4 'Roboto'
		text-align center
	.price
		margin-top 13px
		font 500 21px  /1 'Roboto'
		text-align center
	.add-to-favorites
		opacity 0
		display flex
		justify-content center
		align-items center
		border-radius 50%
		position absolute
		top 10px
		right 10px
		width 36px
		height @width
		background COLOR_BRAND_GREY3
		transition all .3s
		&.added
			opacity 1 !important
		&:hover
			background COLOR_BRAND_GREY2
	.product-in-card
		opacity 0
		display inline-table
		position absolute
		left 50%
		top 100%
		transform translateX(-50%) translateY(-23%)
		padding 6px 20px
		font 400 12px / 1.4 'Roboto'
		text-align center
		border 1px solid COLOR_BRAND_BLUE
		border-radius 30px
		background COLOR_BRAND_WHITE
		transition all .3s
		.underlined
			text-decoration underline
			color COLOR_BRAND_BLUE
	.card-footer
		margin 14px -12px 0 -12px
		display flex
		justify-content space-between
		flex-wrap wrap
@media (max-width: 1100px)
	.cards-wrapper .card-product
		flex-basis 32%
@media (max-width: 768px)
	.cards-wrapper
		.name
			font-size 11px
		.price
			font-size 16px
		.counter, .into-card-button
			font-size 9px
		.card-footer
			margin-left 0
			margin-right 0
		.product-in-card
			display none
@media (max-width: 700px)
	.cards-wrapper .card-product
		flex-basis 47%
		&:hover
			box-shadow none

@media (max-width: 600px)
	.cards-wrapper .card-product
		padding 10px
		margin 0
		width auto
		&:hover
			box-shadow none
		.card-image
			width auto
			height auto
		.card-footer
			justify-content space-around
			margin-left 0
			margin-right 0
