.products-content
	margin-top 30px
	.cards-wrapper
		flex-wrap wrap
		margin-top 20px
	.card-product
		position relative
		display inline-block
		flex-basis 24%
		cursor pointer
		transition all .3s
		margin-bottom 10px
		&:hover
			border 1px solid COLOR_BRAND_BLUE
			.add-to-favorites, .product-in-card
				opacity 1
	.card-image
		max-width 170px
		margin auto
	.name
		margin-top 15px
		color COLOR_BRAND_PINK3
		font 400 14px / 1.4 'Roboto'
		text-align center
	.price
		margin-top 5px
		font 500 21px  /1.4 'Roboto'
		text-align center
	.gradient-button
		display block
		width 100%
		padding 7px
		text-transform uppercase
		text-align center
		font 400 16px / 1.4 'Roboto'
		color COLOR_BRAND_WHITE
		background url(../images/gradient.jpg) 0 0 / cover no-repeat
	.arrows-wrapper
		position absolute
		top 10px
		left 10px
	.cards-wrapper
		display flex
		justify-content space-between
	.product-arrow
		display inline-block
		position relative
		padding 5px 8px
		height 24px
		margin-bottom 5px
		color COLOR_BRAND_WHITE
		letter-spacing .3px
		font 400 12px / 1.4 ' Roboto'
		&:after
			content ''
			position absolute
			top 0
			left 100%
			width 8px
			height 24px
		&.green-arrow
			background COLOR_BRAND_GREEN
			&:after
				background url(../images/green-arrow.png) 0 0 /contain no-repeat
		&.blue-arrow
			background COLOR_BRAND_LIGHT_BLUE
			&:after
				background url(../images/blue-arrow.png) 0 0 /contain no-repeat
		&.orange-arrow
			background COLOR_BRAND_ORANGE
			&:after
				background url(../images/orange-arrow.png) 0 0 /contain no-repeat
	.into-card-button
		margin 5px auto
		display block
		padding 6px 8px
		text-transform uppercase
		color COLOR_BRAND_WHITE
		background COLOR_BRAND_BLUE
	.add-to-favorites
		opacity 0
		display flex
		justify-content center
		align-items center
		border-radius 50%
		position absolute
		top 10px
		right 10px
		width 36px
		height @width
		background COLOR_BRAND_GREY3
		transition all .3s
		&.added
			opacity 1 !important
		&:hover
			background COLOR_BRAND_GREY2
	.product-in-card
		opacity 0
		display inline-table
		position absolute
		left 50%
		top 100%
		transform translateX(-50%) translateY(-23%)
		padding 6px 20px
		font 400 12px / 1.4 'Roboto'
		text-align center
		border 1px solid COLOR_BRAND_BLUE
		border-radius 30px
		background COLOR_BRAND_WHITE
		transition all .3s
		.underlined
			text-decoration underline
			color COLOR_BRAND_BLUE
	.counter
		margin 5px auto
		user-select none
		display inline-block
		border 1px solid COLOR_BRAND_GREY6
		color COLOR_BRAND_GREY
		font 400 12px / 1.4 'Roboto'
		span
			display inline-block
			width 25px
			height @width
			line-height 25px
			text-align center
			font-size 15px
		.value
			display inline-block
			text-align center
			padding 0 7px
			line-height 25px
			border-left 1px solid COLOR_BRAND_GREY6
			border-right 1px solid COLOR_BRAND_GREY6
	.card-footer
		margin-top 15px
		display flex
		justify-content space-between
		flex-wrap wrap
@media (max-width: 1100px)
	.products-content
		.card-product
			flex-basis 32%
@media (max-width: 700px)
	.products-content
		.card-product
			flex-basis 47%
@media (max-width: 500px)
	.products-content
		.card-product
			flex-basis 100%
