* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 62.5%;
}
body {
  background: #fff;
}
img,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font: 400 28px/1.2 'Roboto';
}
ul {
  list-style-type: none;
}
li {
  list-style-position: inside;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
main {
  display: flex;
  margin-top: 15px;
}
.arrows-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-arrow {
  display: inline-block;
  position: relative;
  padding: 5px 8px;
  height: 24px;
  margin-bottom: 5px;
  color: #fff;
  letter-spacing: 0.3px;
  font: 400 12px/1.4 ' Roboto';
}
.product-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 8px;
  height: 24px;
}
.product-arrow.green-arrow {
  background: #39c930;
}
.product-arrow.green-arrow:after {
  background: url("../images/green-arrow.png") 0 0/contain no-repeat;
}
.product-arrow.blue-arrow {
  background: #00dfeb;
}
.product-arrow.blue-arrow:after {
  background: url("../images/blue-arrow.png") 0 0/contain no-repeat;
}
.product-arrow.orange-arrow {
  background: #ff9300;
}
.product-arrow.orange-arrow:after {
  background: url("../images/orange-arrow.png") 0 0/contain no-repeat;
}
h1 {
  font: 500 28px/1.4 'Roboto';
}
.product-in-card {
  display: inline-table;
  padding: 6px 20px;
  font: 400 12px/1.4 'Roboto';
  text-align: center;
  border: 1px solid #009ced;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
.product-in-card .underlined {
  text-decoration: underline;
  color: #009ced;
}
.watch-all-button {
  font: 400 13px/1.4 'Roboto';
  border: 1px solid #009ced;
  padding: 6px 10px;
  transition: all 0.25s;
}
.watch-all-button:hover {
  color: #fff;
  background: #009ced;
}
.counter {
  margin: 5px 0;
  user-select: none;
  display: inline-block;
  border: 1px solid #b3b3b3;
  color: #999;
  font: 400 12px/1.4 'Roboto';
}
.counter span {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 15px;
}
.counter .value {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  line-height: 25px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}
.into-card-button {
  margin: 5px 0;
  display: block;
  padding: 6px 6px;
  text-transform: uppercase;
  color: #fff;
  background: #ff96d3;
}
.navigation-links {
  display: flex;
  margin-top: 10px;
  color: #808080;
  font: 400 12px/1.4 'Roboto';
}
.navigation-links span {
  display: inline-block;
  margin: 0 5px;
}
.container {
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Light.woff") format('woff'), url("../fonts/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Medium.woff") format('woff'), url("../fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Bold.woff") format('woff'), url("../fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Black.woff") format('woff'), url("../fonts/Roboto-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
.main-header .top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px;
  background: #f6f8f8;
}
.main-header .top-actions ul {
  display: flex;
  flex-wrap: wrap;
}
.main-header .top-actions li a {
  margin-right: 30px;
  color: #131313;
  font: 300 14px/1.4 'Roboto';
}
.main-header .top-actions .consult,
.main-header .top-actions .personal-area {
  padding: 12px 0;
}
.main-header .top-actions .consult {
  display: flex;
  flex-wrap: wrap;
  font: 400 14px/1.4 Roboto;
}
.main-header .top-actions .consult p:nth-of-type(1) {
  margin-right: 30px;
}
.main-header .top-actions .consult span {
  color: #009ced;
  padding-left: 5px;
}
.main-header .top-actions .consult a {
  color: #000;
}
.main-header .top-actions .personal-area {
  display: flex;
  font: 300 14px/1.4 'Roboto';
  color: #131313;
}
.main-header .top-actions .personal-area a {
  display: flex;
  align-items: center;
}
.main-header .top-actions .personal-area a:nth-of-type(2) {
  margin-left: 42px;
  color: #009ced;
}
.main-header .top-actions .personal-area i {
  display: inline-block;
  padding-right: 16px;
}
.main-header .center-info {
  padding-top: 20px;
}
.main-header .center-info .left {
  display: flex;
}
.main-header .center-info .logo {
  display: inline-block;
}
.main-header .center-info .text {
  display: inline-block;
  width: 200px;
  margin-left: 30px;
  color: #999;
  font: 300 14px/1.4 'Roboto';
}
.main-header form.desktop-search,
.main-header form.mobile-search {
  display: inline-block;
  padding: 5px;
  border: 1px solid #00dfeb;
}
.main-header form.desktop-search input,
.main-header form.mobile-search input {
  width: 220px;
  padding: 10px;
  color: #666;
  font: 400 14px/1.4 'Roboto';
}
.main-header form.desktop-search button,
.main-header form.mobile-search button {
  padding: 8px 20px;
  text-transform: uppercase;
  color: #fff;
  font: 400 15px/1.4 'Roboto';
  background: #ff96d3;
}
.main-header .center-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main-header .center-info .left,
.main-header .center-info form.desktop-search,
.main-header .center-info .cart {
  margin: 5px;
}
.main-header .cart .cart-icon {
  float: left;
  display: inline-block;
  margin-right: 7px;
  width: 40px;
  height: 54px;
}
.main-header .cart .top {
  display: inline-block;
  margin-right: 5px;
  font: 400 15px/1.4 'Roboto';
}
.main-header .cart a {
  padding: 2px 4px;
  font: 300 12px/1.4 'Roboto';
  color: #fff;
  background: #009ced;
  transition: all 0.25s;
}
.main-header .cart a:hover {
  background: #ff7bac;
}
.main-header .cart .text-items-cart,
.main-header .cart .bottom {
  font: 300 12px/1.4 'Roboto';
}
.main-header .socials {
  display: table;
  flex-shrink: 0;
}
.main-header .socials .icons,
.main-header .socials .icons a {
  display: inline-block;
}
.main-header .socials .icons {
  display: table-cell;
  vertical-align: middle;
}
.main-header .socials .icons a {
  margin-right: 8px;
}
.main-header .socials .title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 12px;
  color: #999;
  font: 300 14px/1.4 'Roboto';
}
.main-header .center-menu li {
  font: 400 15px/1.4 'Roboto';
  color: #303030;
  text-transform: uppercase;
}
.main-header .bottom-navigation {
  position: relative;
  margin-top: 15px;
  padding: 7px 0;
}
.main-header .bottom-navigation .mobile-nav-wrapper {
  display: none;
}
.main-header .bottom-navigation .mobile-nav-wrapper .menu {
  position: absolute;
  top: 100%;
  left: 0;
}
.main-header .bottom-navigation .mobile-nav-wrapper p {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font: 700 16px/1.4 'Roboto';
  color: #009ced;
}
.main-header .bottom-navigation .mobile-nav-wrapper img {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 23px;
}
.main-header .bottom-navigation .desktop-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .bottom-navigation .desktop-nav-wrapper ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-header .bottom-navigation .desktop-nav-wrapper li:not(:last-of-type) {
  margin-right: 20px;
}
.main-header .catalog {
  width: 210px;
  flex-shrink: 0;
}
.main-header .catalog p {
  display: flex;
  align-items: center;
  color: #009ced;
  text-transform: uppercase;
  font: 400 15px/1.4 'Roboto';
}
.main-header .catalog img {
  display: inline-block;
  margin-right: 10px;
}
.main-header .mobile-nav-wrapper .dropdown-container {
  margin-top: 20px;
}
.main-header .mobile-nav-wrapper form.mobile-search {
  display: flex;
  width: 100%;
}
.main-header .mobile-nav-wrapper form.mobile-search input {
  width: 100%;
}
.main-header .mobile-nav-wrapper .dropdown {
  display: none;
  margin-top: 11px;
}
.main-header .mobile-nav-wrapper .menu {
  display: none;
  width: 100%;
  z-index: 999;
}
.main-header .mobile-nav-wrapper .menu li {
  position: relative;
  padding: 15px;
  font: 400 14px/1.4 'Roboto';
  color: #666;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
}
.main-header .mobile-nav-wrapper .menu li.with-dropdown:after {
  content: '';
  position: absolute;
  top: 20px;
  width: 5px;
  right: 10px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(135deg);
}
.main-header .mobile-nav-wrapper .menu li:hover {
  background: #f1f1f1;
}
@media (max-width: 1100px) {
  .main-header .top-actions {
    justify-content: space-around;
  }
  .main-header .center-info .text {
    display: none;
  }
  .main-header .cart {
    margin-left: auto !important;
  }
}
@media (max-width: 900px) {
  .main-header form.desktop-search input {
    width: 150px;
  }
}
@media (max-width: 800px) {
  .main-header .top-actions {
    padding: 0 20px;
  }
  .main-header form.desktop-search {
    display: none;
  }
  .main-header .bottom-navigation .desktop-nav-wrapper {
    display: none;
  }
  .main-header .bottom-navigation .mobile-nav-wrapper {
    display: flex;
  }
}
@media (max-width: 600px) {
  .main-header .top-actions {
    padding: 0;
  }
  .main-header form.desktop-search {
    margin: 10px auto !important;
  }
  .main-header form.desktop-search input {
    width: 150px;
  }
  .main-header .center-info .left {
    margin: auto;
    flex-direction: column;
  }
}
aside {
  flex-shrink: 0;
  width: 212px;
}
aside .banner {
  margin-top: 30px;
}
aside nav .with-dropdown .dropdown-container {
  display: flex;
  position: absolute;
  left: 100%;
  top: 0;
  background: #f6f8f8;
  z-index: 999;
}
aside nav .with-dropdown .dropdown-container ul {
  width: 234px;
}
aside nav .with-dropdown .dropdown-container ul:nth-of-type(n+2) {
  background: #f0f2f2;
}
aside nav .with-dropdown .dropdown-container li {
  color: #000;
}
aside nav .with-dropdown .dropdown-container li:hover {
  color: #009ced;
  background: #fff;
}
aside nav .with-dropdown .dropdown-container li:after {
  content: none;
}
aside nav li {
  position: relative;
  padding: 10px 30px 10px 14px;
  font: 300 14px/1.4 'Roboto';
  flex-shrink: 0;
  transition: all 0.25s;
  cursor: pointer;
}
aside nav li:hover:after {
  border-color: #009ced;
}
aside nav li:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 7px;
  height: 7px;
  transform: translateY(-50%) rotate(45deg);
  border-top: 2px solid #f1f1f1;
  border-right: 2px solid #f1f1f1;
}
aside nav li a {
  display: block;
}
aside nav li:hover {
  background: #f6f8f8;
}
aside nav li.blue-text,
aside nav li.pink-text {
  font-weight: 400;
  text-transform: uppercase;
}
aside nav li.blue-text:after,
aside nav li.pink-text:after {
  content: none;
}
aside nav li.blue-text {
  color: #00aaf7;
}
aside nav li.pink-text {
  color: #ff7cae;
}
aside nav li.active {
  color: #009ced;
}
aside nav li.active:after {
  border-color: #009ced;
}
aside .news {
  margin-top: 30px;
  padding: 30px 20px 35px 30px;
  background: #f6f8f8;
}
aside .news .title,
aside .news footer {
  text-align: center;
}
aside .news .title {
  text-transform: uppercase;
  color: #00dfeb;
  padding-bottom: 10px;
  font: 400 15px/1.4 'Roboto';
}
aside .news .content li {
  position: relative;
  padding: 11px 0;
  font: 300 15px/1.4 'Roboto';
  transition: all 0.25s;
}
aside .news .content li:hover {
  color: #ff7cae;
}
aside .news .content li:last-of-type {
  margin-bottom: 20px;
}
aside .news .content li:last-of-type:before {
  content: none;
}
aside .news .content li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  border-bottom: 1px solid #ff7cae;
}
aside .fixed-fix {
  display: none;
  width: 212px;
  margin-top: 30px;
}
aside .fixed-fix.active {
  display: block;
}
aside .fixed-block {
  padding: 20px 11px 90px 11px;
  margin-top: 30px;
  border: 1px solid #f6f8f8;
}
aside .fixed-block.fixed {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 212px;
  z-index: 10;
}
aside .fixed-block .top img {
  margin: auto;
}
aside .fixed-block .text,
aside .fixed-block .title {
  font: 300 15px/1.4 'Roboto';
}
aside .fixed-block .title {
  font-weight: 700;
}
aside .fixed-block .item {
  margin-top: 18px;
  text-align: center;
}
aside .fixed-block .item:nth-of-type(1) .title {
  color: #ff7bac;
}
aside .fixed-block .item:nth-of-type(2) .title {
  color: #3fa9f5;
}
aside .fixed-block .item:nth-of-type(3) .title {
  color: #7ac943;
}
aside .fixed-block .text p {
  margin-top: 10px;
}
@media (max-width: 800px) {
  aside {
    display: none;
  }
}
.main-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0 15px;
  color: #808080;
}
.main-footer .menu {
  padding-top: 10px;
}
.main-footer ul,
.main-footer .socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-footer li {
  margin-right: 30px;
}
.main-footer .left {
  padding-top: 10px;
  flex-shrink: 0;
  width: 275px;
}
.main-footer li,
.main-footer p {
  font: 400 14px/1.4 'Roboto';
}
.main-footer .title {
  padding-right: 15px;
}
.main-footer .socials {
  padding: 10px;
  flex-shrink: 0;
}
.main-footer .icons {
  filter: greyscale(100);
}
.main-footer .icons a {
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .main-footer,
  .main-footer ul {
    justify-content: center;
  }
}
.main-content-wrapper {
  padding-left: 20px;
  padding-right: 10px;
  margin-right: -10px;
}
.main-content-wrapper h2 {
  color: #009ced;
}
.main-content-wrapper .header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-content-wrapper .advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main-content-wrapper .advantages .item {
  display: flex;
  flex-basis: 230px;
  padding: 10px;
}
.main-content-wrapper .advantages .icon {
  padding-bottom: 7px;
  margin-right: 15px;
  flex-shrink: 0;
}
.main-content-wrapper .advantages .text {
  font: 400 14px/1.4 'Roboto';
}
.main-content-wrapper .owl-theme .owl-nav [class*=owl-] {
  background: transparent;
}
.main-content-wrapper .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}
.main-content-wrapper .owl-dots {
  padding-top: 20px;
}
.main-content-wrapper .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-content-wrapper .owl-common-styles .control {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 20px;
  width: 44px;
  height: 43px;
  background: url("../images/control.png") 0 0/contain no-repeat;
  transition: background 0.25s;
}
.main-content-wrapper .owl-common-styles .control:hover {
  background: url("../images/control-active.png") 0 0/contain no-repeat;
}
.main-content-wrapper .owl-common-styles .control.right {
  left: auto;
  right: 20px;
  transform: translateY(-100%) rotate(180deg);
}
.main-content-wrapper .owl-carousel-main {
  max-width: 912px;
}
.main-content-wrapper .owl-carousel .item {
  width: 100%;
  max-height: 330px;
  background: #000;
}
.main-content-wrapper .owl-carousel-sales {
  width: 452px;
  height: 656px;
}
.main-content-wrapper .owl-carousel-sales .owl-stage-outer {
  height: 100%;
}
.main-content-wrapper .owl-carousel-news,
.main-content-wrapper .owl-carousel-new-products {
  max-width: 452px;
  max-height: 350px;
  background: #f1f1f1;
}
.main-content-wrapper .owl-carousel-new-products {
  width: 49.6%;
  margin-top: 10px;
}
.main-content-wrapper .owl-dot span {
  width: 15px !important;
  height: 15px !important;
  background: transparent !important;
  border: 1px solid #ff96d3;
}
.main-content-wrapper .owl-dot.active span {
  background: #ff96d3 !important;
}
.main-content-wrapper .card-product {
  padding: 28px 33px 16px 33px;
  margin: 0 -5px;
}
.main-content-wrapper .static-banners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-content-wrapper .static-banners .static {
  margin-top: 20px;
  width: 298px;
  height: 298px;
  background: #f1f1f1;
}
@media (max-width: 1200px) {
  .main-content-wrapper .products-content .right-products {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .main-content-wrapper .static-banners {
    display: none;
  }
  .main-content-wrapper .advantages .item {
    flex-wrap: wrap;
  }
}
@media (max-width: 955px) {
  .main-content-wrapper .owl-carousel-sales {
    order: -1;
    align-self: center;
  }
  .main-content-wrapper .products-content .cards-wrapper.with-order {
    justify-content: center;
  }
  .main-content-wrapper .products-content .left-products,
  .main-content-wrapper .products-content .right-products {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
  }
  .main-content-wrapper .products-content .left-products {
    margin-top: 55px;
  }
}
@media (max-width: 800px) {
  .main-content-wrapper {
    padding-left: 0;
  }
  .main-content-wrapper .owl-carousel-new-products,
  .main-content-wrapper .owl-carousel-news,
  .main-content-wrapper .owl-carousel-sales {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .main-content-wrapper .advantages {
    flex-wrap: wrap;
  }
  .main-content-wrapper .advantages .item {
    flex-basis: 50%;
  }
}
.products-content {
  margin-top: 30px;
}
.products-content .gradient-button {
  display: block;
  width: 100%;
  padding: 7px;
  text-transform: uppercase;
  text-align: center;
  font: 400 16px/1.4 'Roboto';
  color: #fff;
  background: url("../images/gradient.jpg") 0 0/cover no-repeat;
}
.products-content .left-products,
.products-content .right-products {
  display: flex;
  flex-direction: column;
}
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
}
.cards-wrapper .card-product {
  position: relative;
  display: inline-block;
  width: 222px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.cards-wrapper .card-product:hover {
  box-shadow: 1px 1px 15px 1px rgba(153,153,153,0.3);
}
.cards-wrapper .card-product:hover .add-to-favorites,
.cards-wrapper .card-product:hover .product-in-card {
  opacity: 1;
}
.cards-wrapper .card-image {
  width: 164px;
  height: 164px;
  object-fit: cover;
  margin: auto;
}
.cards-wrapper .name {
  margin-top: 24px;
  color: #784870;
  font: 400 14px/1.4 'Roboto';
  text-align: center;
}
.cards-wrapper .price {
  margin-top: 13px;
  font: 500 21px/1 'Roboto';
  text-align: center;
}
.cards-wrapper .add-to-favorites {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background: #ccc;
  transition: all 0.3s;
}
.cards-wrapper .add-to-favorites.added {
  opacity: 1 !important;
}
.cards-wrapper .add-to-favorites:hover {
  background: #666;
}
.cards-wrapper .product-in-card {
  opacity: 0;
  display: inline-table;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-23%);
  padding: 6px 20px;
  font: 400 12px/1.4 'Roboto';
  text-align: center;
  border: 1px solid #009ced;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
.cards-wrapper .product-in-card .underlined {
  text-decoration: underline;
  color: #009ced;
}
.cards-wrapper .card-footer {
  margin: 14px -12px 0 -12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .cards-wrapper .card-product {
    flex-basis: 32%;
  }
}
@media (max-width: 700px) {
  .cards-wrapper .card-product {
    flex-basis: 47%;
  }
}
@media (max-width: 500px) {
  .cards-wrapper .card-product {
    flex-basis: 100%;
  }
}
.about-our-shop {
  display: flex;
  margin-top: 55px;
  margin-bottom: 90px;
}
.about-our-shop .logo {
  margin-right: 25px;
  flex-shrink: 0;
  width: 196px;
  height: 153px;
}
.about-our-shop h3 {
  font: 500 25px/1.4 'Roboto';
}
.about-our-shop p {
  margin-top: 24px;
  font: 400 15px/1.4 'Roboto';
}
@media (max-width: 800px) {
  .about-our-shop {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .about-our-shop .logo {
    display: none;
  }
}
.product-card-wrapper {
  width: 100%;
}
.product-card-wrapper.main-content-wrapper .advantages {
  margin-bottom: 40px;
  padding: 35px 10px;
  background: #f2f2f2;
}
.product-card-wrapper .left,
.product-card-wrapper .right {
  flex-basis: 50%;
}
.product-card-wrapper .card-content {
  margin-top: 20px;
}
.product-card-wrapper .card-content .card {
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 30px;
}
.product-card-wrapper .rate-wrapper.disabled {
  pointer-events: none;
}
.product-card-wrapper .rate {
  display: flex;
  align-items: center;
}
.product-card-wrapper .rate p {
  margin-right: 10px;
}
.product-card-wrapper .rate-star {
  cursor: pointer;
  display: inline-block;
  width: 21px;
  height: 19px;
  background: url("../images/star-icon.png") 0 0/contain no-repeat;
}
.product-card-wrapper .rate-star.voted {
  background: url("../images/star-voted-icon.png") 0 0/contain no-repeat;
}
.product-card-wrapper .right {
  padding-left: 10px;
}
.product-card-wrapper .right .info {
  margin-top: 35px;
  border-bottom: 1px solid #999;
}
.product-card-wrapper .right .info .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font: 700 12px/1.4 'Roboto';
  color: #4c4c4c;
}
.product-card-wrapper .right .info .text span {
  font-weight: 400;
}
.product-card-wrapper .main-image {
  position: relative;
}
.product-card-wrapper .main-image li:not(:first-of-type) {
  display: none;
}
.product-card-wrapper .main-image img {
  margin: auto;
}
.product-card-wrapper .thumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}
.product-card-wrapper .thumbs img {
  margin-right: 5px;
  width: 52px;
  height: 52px;
}
.product-card-wrapper .thumbs .active {
  border: 2px solid #ff96d3;
}
.product-card-wrapper .bottom {
  margin-top: 20px;
}
.product-card-wrapper .bottom .price {
  font: 500 28px/0.8 'Roboto';
}
.product-card-wrapper .bottom .quantity {
  font: 400 10px/1.4 'Roboto';
  color: #999;
}
.product-card-wrapper .card-product .into-card-button {
  background: #ff96d3;
}
.product-card-wrapper .into-card-button {
  padding: 6px 10px;
  background: #009ced;
}
.product-card-wrapper .delivery {
  margin-right: -30px;
  margin-top: 25px;
  font: 700 15px/1.4 'Roboto';
}
.product-card-wrapper .delivery .delivery-title {
  color: #ff7bac;
  font-weight: 700;
}
.product-card-wrapper .delivery .delivery-text {
  margin-top: 5px;
  font-weight: 300;
}
.product-card-wrapper .add-to-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-card-wrapper .add-to-card .counter {
  margin: 5px 10px 5px 5px;
  align-self: flex-start;
  flex-shrink: 0;
}
.product-card-wrapper .add-to-card .counter .value,
.product-card-wrapper .add-to-card .counter span {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.product-card-wrapper .add-to-card button {
  margin: 5px;
}
.product-card-wrapper .add-to-card .hold-over {
  margin: 5px 0 5px auto;
}
.product-card-wrapper .add-to-card .hold-over a {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.product-card-wrapper .add-to-card .hold-over span {
  margin-left: 10px;
  text-decoration: underline;
  color: #4c4c4c;
  font: 400 12px/1.4 'Roboto';
}
.product-card-wrapper .product-in-card {
  margin-top: 35px;
}
.product-card-wrapper .tabs-wrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  font: 300 14px/1.4 'Roboto';
}
.product-card-wrapper .tabs-wrapper .desc {
  line-height: 1.6;
}
.product-card-wrapper .tabs-wrapper .content {
  padding: 40px 20% 20px 40px;
}
.product-card-wrapper .tabs-wrapper .content .js-tab-handler {
  display: none;
}
.product-card-wrapper .tabs-wrapper .content .js-tab-handler.active {
  display: block;
}
.product-card-wrapper .tabs-wrapper .top-definitions {
  margin-bottom: 30px;
}
.product-card-wrapper .tabs-wrapper .header {
  display: flex;
  cursor: pointer;
}
.product-card-wrapper .tabs-wrapper .header p {
  position: relative;
  margin-right: 5px;
  padding: 10px 20px;
  color: #fff;
  font: 400 16px/1.4 'Roboto';
  background: #ff7bac;
}
.product-card-wrapper .tabs-wrapper .header p.active {
  background: #fff;
  color: #ff7bac;
}
.product-card-wrapper .tabs-wrapper .header p.active:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 7px solid #fff;
}
.product-card-wrapper .recomendations-block {
  margin: 10px 0;
}
.product-card-wrapper .recomendations-block h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.product-card-wrapper .recomendations-block .card-product .product-in-card {
  margin-top: 0;
}
@media (max-width: 768px) {
  .product-card-wrapper .tabs-wrapper .header {
    flex-wrap: wrap;
  }
  .product-card-wrapper .tabs-wrapper .header p {
    margin: 5px;
  }
  .product-card-wrapper .tabs-wrapper .header p.active:after {
    content: none;
  }
}
@media (max-width: 600px) {
  .product-card-wrapper.main-content-wrapper .advantages {
    padding: 10px;
  }
  .product-card-wrapper .tabs-wrapper {
    margin-bottom: 20px;
  }
  .product-card-wrapper .tabs-wrapper .content {
    padding: 10px;
  }
  .product-card-wrapper .rate p {
    display: none;
  }
  .product-card-wrapper .card-content .card {
    flex-wrap: wrap;
    padding: 10px;
  }
  .product-card-wrapper .thumbs,
  .product-card-wrapper .product-in-card,
  .product-card-wrapper .delivery-link {
    display: none;
  }
  .product-card-wrapper .left,
  .product-card-wrapper .right {
    flex-basis: 100%;
  }
}
.products-list .products-list-content {
  margin-top: 10px;
}
.products-list .brands-list {
  margin-top: 20px;
}
.products-list .brands-list h4 {
  margin-bottom: 15px;
  font: 400 22px/1.4 'Roboto';
}
.products-list .brands-list ul {
  columns: 4;
  width: 83%;
}
.products-list .brands-list li {
  margin-bottom: 9px;
  color: #3fa9f5;
  font: 400 18px/1.4 'Roboto';
  transition: all 0.25s;
}
.products-list .brands-list li:hover {
  color: #ff7bac;
}
.products-list .brands-list li span {
  color: #808080;
}
.products-list .content-main-wrapper {
  margin-top: 30px;
}
.products-list .content-main-wrapper .card-title {
  font: 400 22px/1 'Roboto';
}
.products-list .pagination {
  text-align: center;
  margin-top: 40px;
  color: #808080;
  font: 400 12px/1.4 'Roboto';
}
.products-list .page,
.products-list .rest-page {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: #e5e5e5;
  cursor: pointer;
}
.products-list .page.active,
.products-list .rest-page.active {
  background: #00dfeb;
}
.products-list .left,
.products-list .right {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 32px;
  border-top: 2px solid #b3b3b3;
  border-right: 2px solid #b3b3b3;
}
.products-list .right {
  margin-left: 10px;
  transform: rotate(45deg);
}
.products-list .left {
  margin-right: 10px;
  transform: rotate(-135deg);
}
.products-list .filter {
  margin-top: 25px;
  padding: 20px 25px;
  background: #f4f4f4;
}
.products-list .filter .footer {
  margin-top: 25px;
  text-align: center;
}
.products-list .filter .footer button {
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  font: 400 15px/1.4 'Roboto';
  text-transform: uppercase;
  background: #009ced;
}
.products-list .filter .footer p {
  padding: 5px 0;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  font: 400 15px/1.4 'Roboto';
  color: #808080;
  text-decoration: underline;
}
.products-list .color-block {
  padding: 20px 25px;
  margin: 0 -25px;
  background: #fff;
}
.products-list .rest-page {
  background: transparent;
}
.products-list .filter-name {
  margin-right: 7px;
  color: #000;
  font: 400 18px/1 'Roboto';
}
.products-list .effects .filter-name,
.products-list .colors .filter-name {
  margin-bottom: 20px;
}
.products-list .nails-block {
  display: flex;
}
.products-list .nails-block input[type='checkbox'] {
  display: none;
}
.products-list .nails-block .disabled {
  pointer-events: none;
}
.products-list .nails-block .nail {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
  padding: 3px 5px;
  transition: all 0.3s;
}
.products-list .nails-block .nail:hover .tooltip {
  opacity: 1;
}
.products-list .nails-block .nail .tooltip {
  opacity: 0;
  position: absolute;
  top: -10px;
  left: 50%;
  width: max-content;
  padding: 2px 4px;
  font: 300 12px/1 'Roboto';
  border: 1px solid #ccc;
  background: #f2f2f2;
  z-index: 20;
  transition: all 0.25s;
}
.products-list .nails-block .nail.active,
.products-list .nails-block .nail:hover {
  border: 1px solid #009ced;
  background: #fff;
}
.products-list .choose-brand-dropdown {
  position: relative;
  cursor: pointer;
  background: #fff;
}
.products-list .choose-brand-dropdown .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  margin: 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.products-list .choose-brand-dropdown .container-checkbox {
  position: relative;
  padding-left: 25px;
}
.products-list .choose-brand-dropdown .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.products-list .choose-brand-dropdown .container-checkbox input:checked ~ .checkmark {
  background-color: #3fa9f5;
}
.products-list .choose-brand-dropdown .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.products-list .choose-brand-dropdown .container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.products-list .choose-brand-dropdown .container-checkbox .checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.products-list .choose-brand-dropdown.active .dropdown-brand {
  display: flex;
}
.products-list .choose-brand-dropdown .dropdown-brand {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  position: absolute;
  min-width: 380px;
  top: 100%;
  margin-top: -1px;
  border: 1px solid #b3b3b3;
  padding: 5px 20px 20px 20px;
  font: 400 14px/1 'Roboto';
  background: #fff;
  z-index: 10;
}
.products-list .choose-brand-dropdown .dropdown-brand li {
  margin-top: 15px;
}
.products-list .choose-brand-dropdown.active .name {
  color: #3fa9f5;
}
.products-list .choose-brand-dropdown.active .name:after {
  transform: translateY(-25%) rotate(-45deg);
  border-color: #3fa9f5;
}
.products-list .choose-brand-dropdown .name {
  position: relative;
  padding: 8px 45px 8px 25px;
  background: #fff;
  border: 1px solid #b3b3b3;
  font: 400 18px/1 'Roboto';
  transition: all 0.25s;
}
.products-list .choose-brand-dropdown .name:after {
  content: '';
  position: absolute;
  right: 10px;
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-65%) rotate(135deg);
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.products-list .action-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font: 300 14px/1.4 'Roboto';
}
.products-list .action-block .form {
  display: flex;
  align-items: center;
}
.products-list .action-block .choose-brand-dropdown,
.products-list .action-block .form {
  margin-bottom: 25px;
}
.products-list .action-block span {
  display: inline-block;
  font: 400 18px/1.4 'Roboto';
  margin: 0 10px;
}
.products-list .action-block .price-down,
.products-list .action-block .price-up {
  padding: 0 5px 0 10px;
  width: 120px;
  font: 300 24px/1 'Roboto';
  border: 1px solid #808080;
}
@media (max-width: 1300px) {
  .products-list .choose-brand-dropdown .dropdown-brand {
    right: 0;
  }
}
@media (max-width: 1130px) {
  .products-list .slider {
    margin-top: 40px;
  }
}
@media (max-width: 1024px) {
  .products-list .choose-brand-dropdown .dropdown-brand {
    left: 0;
  }
}
@media (max-width: 800px) {
  .products-list .filter {
    padding: 15px;
  }
  .products-list .filter-footer {
    margin-top: 15px;
  }
  .products-list .color-block {
    margin: 0 -15px;
  }
  .products-list .filter-name {
    width: 100%;
    margin-bottom: 10px;
  }
  .products-list .action-block .form {
    flex-wrap: wrap;
  }
  .products-list .brands-list ul {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .products-list .nails-block {
    flex-wrap: wrap;
  }
  .products-list .choose-brand-dropdown {
    width: 100%;
  }
  .products-list .choose-brand-dropdown.active .dropdown-brand {
    min-width: 100%;
    max-height: initial;
  }
  .products-list .filter {
    padding: 10px;
  }
  .products-list .filter-footer {
    margin-top: 10px;
  }
  .products-list .brands-list ul {
    columns: 2;
  }
  .products-list .action-block .price-down,
  .products-list .action-block .price-up {
    width: 30%;
  }
}
