* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 62.5%;
}
body {
  background: #fff;
}
img,
video {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font: 400 28px/1.2 'Roboto';
}
ul {
  list-style-type: none;
}
li {
  list-style-position: inside;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
input {
  border: none;
  outline: none;
}
main {
  display: flex;
  margin-top: 15px;
}
.arrows-wrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-arrow {
  display: inline-block;
  position: relative;
  padding: 5px 8px;
  height: 24px;
  margin-bottom: 5px;
  color: #fff;
  letter-spacing: 0.3px;
  font: 400 12px/1.4 ' Roboto';
}
.product-arrow:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 8px;
  height: 24px;
}
.product-arrow.green-arrow {
  background: #39c930;
}
.product-arrow.green-arrow:after {
  background: url("../images/green-arrow.png") 0 0/contain no-repeat;
}
.product-arrow.blue-arrow {
  background: #00dfeb;
}
.product-arrow.blue-arrow:after {
  background: url("../images/blue-arrow.png") 0 0/contain no-repeat;
}
.product-arrow.orange-arrow {
  background: #ff9300;
}
.product-arrow.orange-arrow:after {
  background: url("../images/orange-arrow.png") 0 0/contain no-repeat;
}
.product-in-card {
  display: inline-table;
  padding: 6px 20px;
  font: 400 12px/1.4 'Roboto';
  text-align: center;
  border: 1px solid #009ced;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
.product-in-card .underlined {
  text-decoration: underline;
  color: #009ced;
}
.counter {
  margin: 5px auto;
  user-select: none;
  display: inline-block;
  border: 1px solid #b3b3b3;
  color: #999;
  font: 400 12px/1.4 'Roboto';
}
.counter span {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
}
.counter .value {
  display: inline-block;
  text-align: center;
  padding: 0 7px;
  line-height: 25px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}
.into-card-button {
  margin: 5px auto;
  display: block;
  padding: 6px 8px;
  text-transform: uppercase;
  color: #fff;
  background: #009ced;
}
.add-to-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background: #ccc;
  transition: all 0.3s;
}
.add-to-favorites.added {
  opacity: 1 !important;
}
.add-to-favorites:hover {
  background: #666;
}
.container {
  overflow: hidden;
  max-width: 1180px;
  margin: auto;
  padding: 0 20px;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Light.woff") format('woff'), url("../fonts/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Regular.woff") format('woff'), url("../fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Medium.woff") format('woff'), url("../fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Bold.woff") format('woff'), url("../fonts/Roboto-Bold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Black.woff") format('woff'), url("../fonts/Roboto-Black.ttf") format('truetype');
  font-weight: 900;
  font-style: normal;
}
.main-header .top-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-header .top-actions ul {
  display: flex;
  flex-wrap: wrap;
}
.main-header .top-actions li {
  flex-shrink: 0;
}
.main-header .top-actions li a {
  margin-right: 30px;
  color: #131313;
  font: 300 14px/1.4 'Roboto';
}
.main-header .top-actions .nav,
.main-header .top-actions .consult,
.main-header .top-actions .personal-area {
  padding: 10px 0;
}
.main-header .top-actions .consult {
  color: #009ced;
  font: 400 14px/1.4 Roboto;
}
.main-header .top-actions .consult span {
  color: #009ced;
  padding-left: 5px;
}
.main-header .top-actions .consult a {
  color: #000;
}
.main-header .top-actions .personal-area {
  margin-left: auto;
  font: 300 14px/1.4 'Roboto';
  color: #131313;
}
.main-header .top-actions .personal-area a {
  display: flex;
  align-items: center;
}
.main-header .top-actions .personal-area i {
  display: inline-block;
  padding-right: 10px;
}
.main-header .center-info {
  padding-top: 20px;
}
.main-header .center-info .left {
  display: flex;
}
.main-header .center-info .logo {
  display: inline-block;
}
.main-header .center-info .text {
  display: inline-block;
  width: 200px;
  padding-top: 14px;
  margin-left: 30px;
  color: #999;
  font: 300 14px/1.4 'Roboto';
}
.main-header form.desktop-search,
.main-header form.mobile-search {
  display: inline-block;
  padding: 5px;
  border: 1px solid #00dfeb;
}
.main-header form.desktop-search input,
.main-header form.mobile-search input {
  width: 220px;
  padding: 10px;
  color: #666;
  font: 400 14px/1.4 'Roboto';
}
.main-header form.desktop-search button,
.main-header form.mobile-search button {
  padding: 8px 20px;
  text-transform: uppercase;
  color: #fff;
  font: 400 15px/1.4 'Roboto';
  background: #ff96d3;
}
.main-header .center-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main-header .center-info .left,
.main-header .center-info form.desktop-search,
.main-header .center-info .cart {
  margin: 5px;
}
.main-header .cart .cart-icon {
  float: left;
  display: inline-block;
  margin-right: 7px;
  width: 40px;
  height: 54px;
}
.main-header .cart .top {
  display: inline-block;
  margin-right: 5px;
  font: 400 15px/1.4 'Roboto';
  text-transform: uppercase;
}
.main-header .cart a {
  padding: 2px 4px;
  font: 300 12px/1.4 'Roboto';
  color: #fff;
  background: #009ced;
}
.main-header .cart .text-items-cart,
.main-header .cart .bottom {
  font: 300 12px/1.4 'Roboto';
}
.main-header .socials {
  display: table;
  flex-shrink: 0;
}
.main-header .socials .icons,
.main-header .socials .icons a {
  display: inline-block;
}
.main-header .socials .icons {
  display: table-cell;
  vertical-align: middle;
}
.main-header .socials .icons a {
  margin-right: 5px;
}
.main-header .socials .title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  color: #999;
  font: 300 14px/1.4 'Roboto';
}
.main-header .center-menu li {
  font: 300 16px/1.4 'Roboto';
}
.main-header .bottom-navigation {
  position: relative;
  margin-top: 15px;
  padding: 7px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main-header .bottom-navigation .mobile-nav-wrapper {
  display: none;
}
.main-header .bottom-navigation .mobile-nav-wrapper .menu {
  position: absolute;
  top: 100%;
  left: 0;
}
.main-header .bottom-navigation .mobile-nav-wrapper p {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font: 700 16px/1.4 'Roboto';
  color: #009ced;
}
.main-header .bottom-navigation .mobile-nav-wrapper img {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 23px;
}
.main-header .bottom-navigation .desktop-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .bottom-navigation .desktop-nav-wrapper ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-header .bottom-navigation .desktop-nav-wrapper li:not(:last-of-type) {
  margin-right: 20px;
}
.main-header .catalog {
  width: 200px;
  flex-shrink: 0;
}
.main-header .catalog p {
  display: flex;
  align-items: center;
  color: #009ced;
  text-transform: uppercase;
  font: 400 15px/1.4 'Roboto';
}
.main-header .catalog img {
  display: inline-block;
  margin-right: 5px;
}
.main-header .mobile-nav-wrapper form.mobile-search {
  display: flex;
  width: 100%;
}
.main-header .mobile-nav-wrapper form.mobile-search input {
  width: 100%;
}
.main-header .mobile-nav-wrapper .dropdown {
  display: none;
  margin-top: 11px;
}
.main-header .mobile-nav-wrapper .menu {
  display: none;
  width: 100%;
  z-index: 999;
}
.main-header .mobile-nav-wrapper .menu li {
  position: relative;
  padding: 15px;
  font: 400 14px/1.4 'Roboto';
  color: #666;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
}
.main-header .mobile-nav-wrapper .menu li.with-dropdown:after {
  content: '';
  position: absolute;
  top: 20px;
  width: 5px;
  right: 10px;
  height: 5px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(135deg);
}
.main-header .mobile-nav-wrapper .menu li:hover {
  background: #f1f1f1;
}
@media (max-width: 1100px) {
  .main-header .center-info .text {
    display: none;
  }
  .main-header .cart {
    margin-left: auto !important;
  }
}
@media (max-width: 900px) {
  .main-header form.desktop-search input {
    width: 150px;
  }
  .main-header .top-actions .nav {
    display: none;
  }
}
@media (max-width: 800px) {
  .main-header form.desktop-search {
    display: none;
  }
  .main-header .bottom-navigation .desktop-nav-wrapper {
    display: none;
  }
  .main-header .bottom-navigation .mobile-nav-wrapper {
    display: flex;
  }
}
@media (max-width: 600px) {
  .main-header form.desktop-search {
    margin: 10px auto !important;
  }
  .main-header form.desktop-search input {
    width: 150px;
  }
  .main-header .center-info .left {
    margin: auto;
    flex-direction: column;
  }
  .main-header .consult span {
    display: none;
  }
}
aside {
  flex-shrink: 0;
  width: 200px;
}
aside .banner {
  margin-top: 15px;
}
aside nav {
  padding: 10px 10px 10px 25px;
  border: 1px solid #ccc;
}
aside nav li {
  position: relative;
  margin-top: 20px;
  padding-left: 10px;
  font: 300 14px/1.4 'Roboto';
}
aside nav li:before {
  content: '';
  position: absolute;
  left: 0;
  height: 25px;
  bottom: 100%;
  border-left: 1px solid #f1f1f1;
}
aside nav li.active {
  color: #009ced;
}
aside nav li.active:after {
  content: '';
  position: absolute;
  left: -2px;
  bottom: 100%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffcdcd;
}
aside .news {
  margin-top: 15px;
  padding: 15px 10px;
  border: 1px solid #ccc;
}
aside .news .title,
aside .news footer {
  text-align: center;
}
aside .news .title {
  text-transform: uppercase;
  color: #00dfeb;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font: 400 15px/1.4 'Roboto';
}
aside .news .content {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
aside .news .content li {
  position: relative;
  padding-left: 15px;
  font: 300 14px/1.4 'Roboto';
}
aside .news .content li:not(:last-of-type) {
  margin-bottom: 15px;
}
aside .news .content li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffcdcd;
}
aside .news footer {
  padding-top: 15px;
  color: #999;
  font: 400 15px/1.4 'Roboto';
}
@media (max-width: 800px) {
  aside {
    display: none;
  }
}
.main-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0 15px;
  color: #808080;
}
.main-footer .menu {
  padding-top: 10px;
}
.main-footer ul,
.main-footer .socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.main-footer li {
  margin-right: 30px;
}
.main-footer .left {
  padding-top: 10px;
  flex-shrink: 0;
  width: 275px;
}
.main-footer li,
.main-footer p {
  font: 400 14px/1.4 'Roboto';
}
.main-footer .title {
  padding-right: 15px;
}
.main-footer .socials {
  padding: 10px;
  flex-shrink: 0;
}
.main-footer .icons {
  filter: greyscale(100);
}
.main-footer .icons a {
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .main-footer,
  .main-footer ul {
    justify-content: center;
  }
}
.main-content-wrapper {
  padding-left: 20px;
  overflow: hidden;
}
.main-content-wrapper .advantages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main-content-wrapper .advantages .item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 230px;
  padding: 10px;
}
.main-content-wrapper .advantages .icon {
  padding-bottom: 7px;
  margin-right: 15px;
  flex-shrink: 0;
}
.main-content-wrapper .advantages .text {
  font: 400 14px/1.4 'Roboto';
}
.main-content-wrapper .owl-theme .owl-nav [class*=owl-] {
  background: transparent;
}
.main-content-wrapper .owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent !important;
}
.main-content-wrapper .owl-dots {
  padding-top: 20px;
}
.main-content-wrapper .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-content-wrapper .owl-carousel .control {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 20px;
  width: 36px;
  height: 36px;
  background: url("../images/control.png") 0 0/contain no-repeat;
}
.main-content-wrapper .owl-carousel .control.right {
  left: auto;
  right: 20px;
  transform: translateY(-100%) rotate(180deg);
}
.main-content-wrapper .owl-carousel .item {
  width: 100%;
  height: 300px;
  background: #000;
}
.main-content-wrapper .owl-dot span {
  width: 15px !important;
  height: 15px !important;
  background: transparent !important;
  border: 1px solid #ff96d3;
}
.main-content-wrapper .owl-dot.active span {
  background: #ff96d3 !important;
}
.main-content-wrapper .card-product {
  padding: 15px;
  border: 1px solid #ccc;
}
@media (max-width: 800px) {
  .main-content-wrapper {
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .main-content-wrapper .advantages {
    flex-wrap: wrap;
  }
  .main-content-wrapper .advantages .item {
    flex-basis: 50%;
  }
}
.products-content {
  margin-top: 30px;
}
.products-content .gradient-button {
  display: block;
  width: 100%;
  padding: 7px;
  text-transform: uppercase;
  text-align: center;
  font: 400 16px/1.4 'Roboto';
  color: #fff;
  background: url("../images/gradient.jpg") 0 0/cover no-repeat;
}
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.cards-wrapper .card-product {
  position: relative;
  display: inline-block;
  flex-basis: 24%;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 10px;
}
.cards-wrapper .card-product:hover {
  border: 1px solid #009ced;
}
.cards-wrapper .card-product:hover .add-to-favorites,
.cards-wrapper .card-product:hover .product-in-card {
  opacity: 1;
}
.cards-wrapper .card-image {
  max-width: 170px;
  margin: auto;
}
.cards-wrapper .name {
  margin-top: 15px;
  color: #784870;
  font: 400 14px/1.4 'Roboto';
  text-align: center;
}
.cards-wrapper .price {
  margin-top: 5px;
  font: 500 21px/1.4 'Roboto';
  text-align: center;
}
.cards-wrapper .add-to-favorites {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background: #ccc;
  transition: all 0.3s;
}
.cards-wrapper .add-to-favorites.added {
  opacity: 1 !important;
}
.cards-wrapper .add-to-favorites:hover {
  background: #666;
}
.cards-wrapper .product-in-card {
  opacity: 0;
  display: inline-table;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) translateY(-23%);
  padding: 6px 20px;
  font: 400 12px/1.4 'Roboto';
  text-align: center;
  border: 1px solid #009ced;
  border-radius: 30px;
  background: #fff;
  transition: all 0.3s;
}
.cards-wrapper .product-in-card .underlined {
  text-decoration: underline;
  color: #009ced;
}
.cards-wrapper .card-footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .cards-wrapper .card-product {
    flex-basis: 32%;
  }
}
@media (max-width: 700px) {
  .cards-wrapper .card-product {
    flex-basis: 47%;
  }
}
@media (max-width: 500px) {
  .cards-wrapper .card-product {
    flex-basis: 100%;
  }
}
.about-our-shop {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 55px;
  margin-bottom: 90px;
  width: 61%;
}
.about-our-shop h3 {
  font: 500 25px/1.4 'Roboto';
}
.about-our-shop p {
  margin-top: 24px;
  font: 400 15px/1.4 'Roboto';
}
@media (max-width: 800px) {
  .about-our-shop {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.product-card-wrapper {
  width: 100%;
}
.product-card-wrapper h1 {
  font: 500 32px/1.4 'Roboto';
}
.product-card-wrapper .left,
.product-card-wrapper .right {
  flex-basis: 50%;
}
.product-card-wrapper .card-content {
  margin-top: 20px;
}
.product-card-wrapper .card-content .card {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 50px;
}
.product-card-wrapper .rate-wrapper.disabled {
  pointer-events: none;
}
.product-card-wrapper .rate {
  display: flex;
  align-items: center;
}
.product-card-wrapper .rate p {
  margin-right: 10px;
}
.product-card-wrapper .rate-star {
  cursor: pointer;
  display: inline-block;
  width: 21px;
  height: 19px;
  background: url("../images/star-icon.png") 0 0/contain no-repeat;
}
.product-card-wrapper .rate-star.voted {
  background: url("../images/star-voted-icon.png") 0 0/contain no-repeat;
}
.product-card-wrapper .right .info {
  border-bottom: 1px solid #999;
}
.product-card-wrapper .right .info .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  font: 700 12px/1.4 'Roboto';
  color: #4c4c4c;
}
.product-card-wrapper .right .info .text span {
  font-weight: 400;
}
.product-card-wrapper .main-image {
  position: relative;
}
.product-card-wrapper .main-image li:not(:first-of-type) {
  display: none;
}
.product-card-wrapper .main-image img {
  margin: auto;
}
.product-card-wrapper .thumbs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}
.product-card-wrapper .thumbs .active {
  border: 2px solid #ff96d3;
}
.product-card-wrapper .navigation-links {
  display: flex;
  margin-top: 10px;
  color: #808080;
  font: 400 12px/1.4 'Roboto';
}
.product-card-wrapper .navigation-links span {
  display: inline-block;
  margin: 0 5px;
}
.product-card-wrapper .bottom {
  margin-top: 20px;
}
.product-card-wrapper .bottom .price {
  font: 500 28px/0.8 'Roboto';
}
.product-card-wrapper .bottom .quantity {
  font: 400 10px/1.4 'Roboto';
  color: #999;
}
.product-card-wrapper .add-to-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-card-wrapper .add-to-card .counter {
  margin: 5px 10px 5px 5px;
  align-self: flex-start;
  flex-shrink: 0;
}
.product-card-wrapper .add-to-card .counter .value,
.product-card-wrapper .add-to-card .counter span {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.product-card-wrapper .add-to-card button {
  margin: 5px;
}
.product-card-wrapper .add-to-card .hold-over {
  margin: 5px 0 5px auto;
}
.product-card-wrapper .add-to-card .hold-over a {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.product-card-wrapper .add-to-card .hold-over span {
  margin-left: 10px;
  text-decoration: underline;
  color: #4c4c4c;
  font: 400 12px/1.4 'Roboto';
}
.product-card-wrapper .product-in-card {
  margin-top: 35px;
}
.product-card-wrapper .delivery-link {
  display: block;
  margin-top: 40px;
  text-decoration: underline;
  color: #4c4c4c;
  font: 400 12px/1.4 'Roboto';
}
.product-card-wrapper .tabs-wrapper {
  margin-top: 40px;
  font: 300 14px/1.4 'Roboto';
}
.product-card-wrapper .tabs-wrapper .content {
  padding: 40px 20% 20px 40px;
  border: 1px solid #000;
}
.product-card-wrapper .tabs-wrapper .content .js-tab-handler {
  display: none;
}
.product-card-wrapper .tabs-wrapper .content .js-tab-handler.active {
  display: block;
}
.product-card-wrapper .tabs-wrapper .top-definitions {
  margin-bottom: 30px;
}
.product-card-wrapper .tabs-wrapper .header {
  display: flex;
  cursor: pointer;
}
.product-card-wrapper .tabs-wrapper .header p {
  position: relative;
  margin-right: 5px;
  padding: 10px 20px;
  color: #666;
  font: 400 16px/1.4 'Roboto';
  background: #f2f2f2;
}
.product-card-wrapper .tabs-wrapper .header p.active {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 2px solid transparent;
  background: #fff;
  color: #000;
}
.product-card-wrapper .tabs-wrapper .header p.active:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 7px solid #fff;
}
.product-card-wrapper .recomendations-block {
  margin: 40px 0;
}
.product-card-wrapper .recomendations-block h2 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.product-card-wrapper .recomendations-block .card-product .product-in-card {
  margin-top: 0;
}
@media (max-width: 768px) {
  .product-card-wrapper .tabs-wrapper .header {
    flex-wrap: wrap;
  }
  .product-card-wrapper .tabs-wrapper .header p {
    margin: 5px;
  }
  .product-card-wrapper .tabs-wrapper .header p.active {
    border: 1px solid #000;
  }
  .product-card-wrapper .tabs-wrapper .header p.active:after {
    content: none;
  }
}
@media (max-width: 600px) {
  .product-card-wrapper .rate p {
    display: none;
  }
  .product-card-wrapper .card-content .card {
    flex-wrap: wrap;
    padding: 20px;
  }
  .product-card-wrapper .thumbs,
  .product-card-wrapper .product-in-card,
  .product-card-wrapper .delivery-link {
    display: none;
  }
  .product-card-wrapper .left,
  .product-card-wrapper .right {
    flex-basis: 100%;
  }
}
